.App {
  text-align: center;
}

.bg-pink {
  background-color:#ff80ff;
}
.bg-purple{
  background-color:#cc33ff
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ---------------Event Item below------------------------ */
.eventBox{
  background:#f4f4f4;
  padding:15px;
  border-bottom:1px #ccc dotted ;
  display:flex;
  /* align-items: center; */
}

.eventNameBox{
  background:#ff00ff;
  color:white;
  padding:2rem 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
}

.eventDescriptionBox {
  background:#ffccff;
  color:#990099;
  padding:15px;
  margin: 0.75rem;
  width: 85rem;
}

.eventPictureBox {
  background:#ffccff;
  height: 10rem;
  width: 15rem;
}
.eventImage{
  height: 10rem;
  width: 15rem;
}



.container {
  padding: 0 1rem;
}
/* -----------------Ticket item below---------------------- */
.ticket-container {
  display: flex;
}

.ticketBox{
  background-image: url(./backgroundImages/WooHahLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1rem;
  padding:15px;
  border-bottom:1px #ccc dotted ;
  display:grid;
  /* align-items: center; */
  height: 30rem;
  width: 20rem;
}

.ticketNameBox{
  background:white;
  opacity: 0.8;
  color:#ff00ff;
  padding:2rem 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.ticketDescriptionBox {
  background:#ffccff;
  color:#990099;
  padding:15px;
  margin: 0.75rem;
}

.ticketPriceBox {
  text-align: center;
  font-size: 1.5rem;
  background:#ffccff;
  color:#990099;
  padding:15px;
  margin: 0.75rem;
}

.buyButton {
  background:#990099;
  color:#ffccff;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

/* ---------------PersonItem below------------------------ */

.personBox {
  background:#f4f4f4;
  padding:10px;
  border-bottom:1px #ccc dotted;
}

/* --------------------------------------- */

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

